VITE_API_URL=https://gw70.onrender.com
VITE_BOTPRESS_INJECT_URL=https://cdn.botpress.cloud/webchat/vX.X/inject.js
VITE_BOTPRESS_CONFIG_URL=https://files.bpcontent.cloud/xxxx/xx/xx/xx/xxxxxxxxxxxxx-xxxxxxxx.js
