VITE_API_URL=http://localhost:5000/api
VITE_BOTPRESS_INJECT_URL=https://cdn.botpress.cloud/webchat/vX.X/inject.js
VITE_BOTPRESS_CONFIG_URL=https://files.bpcontent.cloud/xxxx/xx/xx/xx/xxxxxxxxxxxxx-xxxxxxxx.js
