BOT_TOKEN=your_botfather_token_here
BOT_USERNAME=@your_bot_username

MONGO_URI=mongodb://localhost:27017/house-finder
API_BASE_URL=http://localhost:5000/api
CLIENT_URL=http://localhost:5173

NODE_ENV=development
ALLOW_INSECURE_TLS=true
